#song-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0%;
  background: #002;
  transition: 1s;
}

#song-container > img {
  position: absolute;
  background: transparent;
  height: calc(1.1 * 647px); /* Make it a little bigger... */
  width: calc(1.1 * 1095px);
  transition: 0.2s cubic-bezier(.2, 0.01, .5, 1.35);
  display: none;
}

#marker {
  z-index: 10;
  position: absolute;
  width: 400px;
  left: calc(50% - 200px);
  top: 10px;
  height: 30px;
  background: black;
  border: 1px solid white;
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: monospace;
  border-radius: 20px;
  opacity: 0;
  transition: 0.5s;
}

.hit {
  z-index: 20;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 35%;
  border-radius: 50%;
  opacity: 1;
  transition: 1s;
}